/* box sizing everything */
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, #00aaff,#02ff6b);
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    /* grid-template-rows: minmax(7rem, auto); */
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;  /* -----?-----*/
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    /* .........?............. */
    word-wrap: break-word;
    word-break: break-all;
    padding: 1rem;
}

.output .previous-operand{
    color: rgba(255, 255, 255, 0.75);
}
.output .current-operand{
    color: rgba(255, 255, 255);
    font-size: 2rem;
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.25);
    outline: none;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}